.board-details {
    position: relative;
    padding-block-end: 2em;
    background-color: white;
    height: 100%;
    overflow: auto;


    .board-header {
        position: sticky;
        top: 0;
        left: 0;
        background-color: rgb(255, 255, 255);
        z-index: 200;
        height: 140px;
        padding-inline: 30px;
        padding-block-start: 30px;
    }

    .add-goupe-btn {
        position: sticky;
        left: 30px;
        margin-inline-start: 30px;
    }


    .group-list {
        &:has(.dragging) {

            .group {

                &>*:not(.group-header) {
                    display: none;
                }

                .group-header {

                    .group-title {
                        outline: 1px solid #d0d4e4;
                        height: 50px;
                        flex-grow: 1;
                        margin-inline-start: 30px;

                        &:before {
                            position: absolute;
                            left: -6px;
                            top: 0;
                            content: "";
                            width: 6px;
                            height: 100%;
                            background: var(--before-columns);
                            border-radius: 10px 0 0 10px;
                        }
                    }

                    .table-header {
                        display: none;
                    }

                    .remove-btn-wrapper {
                        display: none;
                    }

                }
            }
        }
    }

}