.board-details {
    position: relative;
    // width: 90vw;
    // height: 90vh;
    // overflow: auto;
    padding-inline-start: 40px;
    margin-block-end: 2em;

    .board-header {
        // position: sticky;
        // top: 0;
        // left: 0;
        margin-block-end: 2em;
        background-color: rgb(255, 255, 255);
        z-index: 200;
        height: 40px;
        // padding-inline-start: 40px;
    }
}