.group {
    position: relative;
    margin-block-end: 1em;

    .remove-btn-wrapper {
        position: absolute;
        display: block;

        top: 0;
        left: -40px;

        width: 40px;
        height: 100%;
        z-index: 10;

        &:hover {
            .remove-btn {
                display: flex;
            }
        }

        .remove-btn {
            justify-content: center;
            align-items: center;

            width: 100%;
            height: 100%;

            display: none;
            cursor: pointer;
            background-color: white;

            &:hover {
                background-color: rgb(219, 219, 219);
                display: flex;
            }
        }
    }


    .group-header {
        .cell {
            border-block: 1px solid #d0d4e4;
        }

        .group-title {
            position: relative;
            margin-block-end: 0.5em;
            width: 70vw;

            min-height: 40px;
            align-content: center;
            // padding-inline-start: 40px;

            &:hover {
                .remove-btn-wrapper {
                    top: 0;
                    left: -40px;

                    .remove-btn {
                        display: flex;
                    }
                }

            }
        }
    }

    .table-row {
        position: relative;
        display: grid;
        grid-template-columns: 300px 100px 200px 150px 1fr;
        align-items: center;
        background-color: white;


        &:hover {
            .remove-btn {
                display: flex;
                top: 0;
                left: -40px;
            }
        }


        &:hover:not(.table-header) {

            background-color: rgb(246, 246, 246);

            &:not(:last-child) {
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
            }
        }

        &>* {
            border-inline-end: 1px solid #d0d4e4;

            &:last-of-type {
                border-inline-end: 0
            }

            &:has(.add-task) {
                border-inline-end: 0;
            }
        }

        .task-bar {
            // position: sticky;
            // left: 0;
            display: grid;
            grid-template-columns: 6px 1fr;
            z-index: 4;

            &:has(.add-task) {

                .color-bar {
                    border-radius: 0px 0px 0px 10px;
                }
            }

            .color-bar {
                width: 100%;
                height: 100%;
                background: var(--before-columns);
            }
        }

        .full-line {
            height: 100%;
            width: 100%;
            grid-column: 2/-1;
        }

        &:last-of-type {
            border-block-end: none;
        }

        &.table-header {
            text-align: center;
            text-transform: capitalize;

            .color-bar {
                border-radius: 10px 0px 0px 0px;
            }
        }



        .cell {
            position: relative;
            padding: 8px 12px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            height: 100%;
            border-block-end: 1px solid #d0d4e4;


            &:has(.status-picker) {
                padding: 0;
            }

            &.add-task {
                border-inline-end: 0;
            }

            .task-name-input {
                width: 100%;
            }

            .task-name:hover {
                display: block;
                outline: 1px solid black;
                width: 100%;
                border-radius: 2px;
            }
        }
    }
}